@font-face {
  font-family: 'sw_regular';
  src: url('./fonts/sfdistantgalaxy-0l3d-webfont.woff2') format('woff2'),
    url('./fonts/sfdistantgalaxy-0l3d-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'sw_outline';
  src: url('./fonts/sfdistantgalaxyoutline-xoeo-webfont.woff2') format('woff2'),
    url('./fonts/sfdistantgalaxyoutline-xoeo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}