@import 'theme-switch';
@import 'lightsaber';


* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
}


$color-scheme: ((light, #d23669, #ffa7c4, #222, #DCDCE5),
  (dark, #DCDCE5, #f76f23, #fd9c2c, #282c35));

@mixin theme($name, $primary, $secundary, $color, $background) {
  .#{$name} {
    background-color: $background;
    color: $color;

    a {
      color: $primary;
    }
  }
}

@each $name,
$primary,
$secundary,
$color,
$background in $color-scheme {
  @include theme($name, $primary, $secundary, $color, $background);
}

.container {
  width: 100vw;
  display: flex;
  flex-flow: column;
}

.container--flex {
  display: flex;
  justify-content: center;
  // align-items: center;
}

.search-result__item {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-self: center;
  width: 80vw;
}

.search-result {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.film-crawl {
  cursor: pointer;
  display: inline;
  margin: 0;
  max-width: 50%;

  p {
    // display: inline;
    width: 200px;
  }
}

.search {
  height: 40vh;
  // display: flex;
  // flex-flow: column;
  // justify-content: center;
  // align-items: center;
  text-align: center;

  .search__form__title {
    font-size: 4rem;
    margin-top: 50px;
  }

  .search__form__option-selector,
  .search__form__option,
  .search__form__input,
  .search__form__btn {
    height: 5vh;
  }
}

.result__info-list {
  display: flex;
  list-style-type: none;

  .result__info-list__item {
    margin-left: 20px;
  }
}